      <div id="postInput">
        <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Post Title</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="button" class="btn btn-dark">Submit Post</button>
      </div>
      
      
      
      {{#each Post as |post| }}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{content}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{comment}}</li>
          <li class="list-group-item">A second comment</li>
          <li class="list-group-item">A third comment</li>
        </ul>
        
      </div>
      {{/each}}