<div class="container">
        <div class="row">

            <!--empty column-->
            <div class="col-3">
              {{!-- <h2>Left Side Filler</h2> --}}
            </div>

            <div class="col-6"> 

                <!--hard coded column start-->
                <div class="card text-center" style="width: 36rem;">
                <div class="card-body">
                  <h5 class="card-title">Welcome to the Soap Box</h5>
                  <p class="card-text">Login to read, post, and comment!</p>
                </div>
                <ul class="list-group list-group-flush">
                </ul> 
              </div>
     <!--hard coded column end-->

      <!--partial generated columns start-->
            {{#each allPosts as |post| }}
            <div class="card" style="width: 36rem;">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{content}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{comment}}</li>
              
              </ul> 
            </div>
            {{/each}}
            <!--partial generated columns end-->

            <!--end card column-->
        </div>

         <!--empty column-->
         <div class="col-3">
           {{!-- <h2>Right Side Filler</h2> --}}
         </div>
           
         <!--end row-->
        </div>
        <!--end container-->
    </div>