 <!--partial generated columns start-->
            {{#each post as |post| }}
            <div class="card" style="width: 36rem;">
              <div class="card-body">
                <h4 class="card-title"><span class="display-6">{{title}}</span> by: {{user.name}}</h4>
                <p class="card-text">{{content}}</p>
              </div>
         
            
  
            {{/each}}
            <!--partial generated columns end-->